
<div class="row border-bottom">
    <div class="col-9">
        <div>
            <h4>{{job['title']}}</h4>
        </div>
        {% if 'salary' in job %}
        <div>
            <b>Salary: </b>{{job['salary']}}<b> {{job['currency']}}</b>
        </div>
        {% endif %}
        <div>
            <p><b>Location: </b>{{job['location']}}</p>
        </div>
    </div>

    <div class="col-3">
        <!-- <button  type="button" class="btn btn-primary">Primary</button> -->
        <a href="/job/{{job['id']}}" role="button" class="btn btn-primary">APPLY</a>

    </div>
</div>